.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.tournament-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1rem;
}

.tournament-card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.win {
  color: green;
  font-weight: bold;
}

.loss {
  color: crimson;
  font-weight: bold;
}

.filters button {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.Reset {
    background-color: #d7e1eb;
}
.tournament-card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  position: relative;
}

.card-win::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: green;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card-loss::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: crimson;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
